@import '~src/assets/styles/variables.scss';

.footer {
  background: lightblue;
  padding: 1rem;
  box-sizing: border-box;
  height: $footer-height;

  &__title {
    margin: 0;
    text-align: center;
  }
}
