:host {
  display: block;
}

.body {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  height: 50rem;
}

.type-a {
  grid-row: span 2;
  background: lightcoral;
}

.type-b {
  background: lightgoldenrodyellow;
}

.type-c {
  background: lightgreen;
}

.type-d {
  grid-column: span 2;
  background: lightskyblue;
}
