<section class="section">
  <header class="section__header">
    <h1 class="section__title">Home</h1>
  </header>

  <div class="section__container">
    <article class="article type-a">
      <h2 class="article__title">Article A</h2>
      <button class="article__button">Press Me</button>
    </article>
    <article class="article type-b">
      <h2 class="article__title">Article B</h2>
      <button class="article__button">Press Me</button>
    </article>
    <article class="article type-c">
      <h2 class="article__title">Article C</h2>
      <button class="article__button">Press Me</button>
    </article>
    <article class="article type-d">
      <h2 class="article__title">Article D</h2>
      <button class="article__button">Press Me</button>
    </article>
  </div>
</section>
