<div class="section">
  <div class="section__header">
    <div class="section__title">Home</div>
  </div>

  <div class="section__container">
    <div class="article type-a">
      <div class="article__title">Article A</div>
      <div class="article__button">Press Me</div>
    </div>
    <div class="article type-b">
      <div class="article__title">Article B</div>
      <div class="article__button">Press Me</div>
    </div>
    <div class="article type-c">
      <div class="article__title">Article C</div>
      <div class="article__button">Press Me</div>
    </div>
    <div class="article type-d">
      <div class="article__title">Article D</div>
      <div class="article__button">Press Me</div>
    </div>
  </div>
</div>
