:host {
  display: block;
}

.body {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.type-a {
  background: lightcoral;
}

.type-b {
  background: lightgoldenrodyellow;
}

.type-c {
  background: lightgreen;
}

.type-d {
  background: lightskyblue;
}
